@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shine {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  

   .animate-spin-slow {
       animation: spin-slow 2s infinite;
     }
     @keyframes spin-slow {
       0%, 100% {
         transform: rotate(0deg);
       }
       25% {
         transform: rotate(10deg);
       }
       50% {
         transform: rotate(-10deg);
       }
       75% {
         transform: rotate(10deg);
       }
     }